.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;           /*spinnig motion time*/
  }
}

.App-header {
  background-color: #486bb2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#control-button-stop {

  background-color: red;
  margin: 2% 10%;
  cursor: pointer;
  width: 100px; height: 40px;
  border-radius: 20px;
}


#control-button-stop:hover {
  background-color:#486bb2;
}

#control-button-run {

  background-color:rgb(76, 125, 168);
  margin: 20% 50%;
  cursor:pointer;
  width: 100px; height: 40px;
  border-radius: 20px;
}

#control-button-run:hover {
  background-color:aliceblue;
}

/* src/App.css */
.App-header {
  text-align: center;
}

nav {
  margin: 10px 0;
}

nav button {
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  background-color: #282c34;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}

nav button:hover {
  background-color: #61dafb;
}
